/* header styling */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

/* navigation styling */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 99px;
  background-color: #363062;
}

#navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 99px;
  background-color: #363062;
}

.logo {
  width: 90px;
  height: auto;
  flex: 1;
  img {
    border-radius: 50%;
  }
}

nav a {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 50px;
  font-size: 25px;
  color: #efe0de;
  text-decoration: none;
  transition: 0.3s ease;
}

/* Hamburger icon styling */
.hamburger-icon {
  font-size: 25px;
  color: #efe0de;
  cursor: pointer;
  display: none; /* Initially hide the hamburger icon */
}

/* Media query for small screens */
@media only screen and (max-width: 400px) {
  .hamburger-icon {
    display: block; /* Show the hamburger icon on small screens */
  }

  #navbar-links {
    justify-content: center; /* Center the hamburger icon */
    flex-direction: column; /* Stack the menu items vertically */
    position: absolute;
    top: 99px; /* Adjust the top position */
    left: 0;
    right: 0;
    background-color: #363062;
    display: none; /* Initially hide the menu */
  }

  #navbar-links.active {
    display: flex; /* Show the menu when active */
  }

  nav a {
    margin-right: 0; /* Remove margin for menu items */
  }

  /* Style for 'close' icon (after clicking hamburger) */
  #navbar-links.active .hamburger-icon::after {
    content: "\2713"; /* Unicode for 'close' icon */
  }
}
